<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-5.1.xsd">
    
    <!-- <context:annotation-config />
    <context:component-scan base-package="com.cinderella" /> -->
    <import resource="applicationContext-*.xml" />
    <!-- 通过对象属性来DI，具体调用了set方法，没有set方法是set不进去的 -->
    <bean id="person" name="human, start" class="com.lisz.spring.Person" lazy-init="false">
    	<property name="name"><value>Tom</value></property>
    	<property name="age" value="18" />
    	<property name="food" ref="food"/>
    	<property name="skill">
    		<value>
    			math=100  <!-- 不用写逗号，否则逗号也会被放在value里，整体被当作字符串 -->
    			physics=120
    			coding=200
    		</value>
    	</property>
    	<property name="list">
    		<list>
    			<value>A</value>
    			<value>B</value>
    		</list>
    	</property>
    	<property name="set">
    		<set>
    			<value>x</value>
    			<value>y</value>
    			<value>z</value>
    			<value>z</value><!-- 只有一个z -->
    		</set>
    	</property>
    	<property name="map">
    		<map>
    			<entry key="a" value="1" />
    			<entry key="b" value="2" />
    			<entry key="c" value="3" />
    			<entry key="c" value="4" /><!-- 覆盖前面的3 <props key="c">4</props>也可以-->
    		</map>
    	</property>
    	<property name="arr">
    		<array>
    			<value>1</value>
    			<value>2</value>
    			<value>3</value>
    		</array>
    	</property>
    </bean>
    <alias name="person" alias="person2"/>
</beans>